<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
        <ul>Item No: <input type="text" name="itemno"> </ul>
        <ul>Item description:<input type="text" name="itemdescription"> </ul>
        <ul>Item barcode: <input type="text" name="itembarcode"></ul>
        <ul>Item UOM: <input type="text" name="itemuom"></ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        <button type="submit">Save</button>
        <a href="{% url 'itemview' %}">View Item</a>
    </form>
    </div>
</body>
</html>